*{
    margin:0; 
    max-width: 100vh;
    max-height: 100vw;
    text-decoration: none !important;
    padding:0;
    outline-style:none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}



body{    
    /* to be changed */
    background-color: #89B0AE;}
a{
    /* changes color to parent color; removes blue color */
    color:inherit;
}

.btn{
    padding: 3px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 100;
}

.happy{
    opacity: 0;
    justify-content: center;
    inset: 0px;
    margin: auto;
    position: fixed;
    width:300px;
    z-index: 1;
}

.sad{
    width: 300px;
    inset: 0;
    margin: auto;
    position: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
    /* anchors element to the viewport */
    position: fixed;
    /* sets top, left, right, and bottom to same value: 0px */
    /* yet how is it possible for left AND right to be 0? this is solved with margin: auto. instead of anchoring to left edge, it centers it! */
    inset: 0px;
    width: 25rem;
    height: 15rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin:auto;
    background: #BEE3DB;

    display: flex;
    font-weight: bold;
    font-size: 50px;
    /* makes text be one line */
    white-space: nowrap;
    border: 3px #555b6e solid;
    border-radius: 10%;
}

.games{
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0px;
    max-height:100dvh;
    max-width: 100vw;
    width: fit-content;
    height: 30px;
    margin: auto;
    text-align: center;
    bottom: -75px;
    background: #FFD6BA;
    padding: 5px;
    border: 1px solid #555b6e;
    font-weight: bold;
    z-index: 100;
}
.gameconfirmed{
    inset: 0px;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-align: center;
    bottom: -800px;
    width: fit-content;
    height: fit-content;
}

#lefticon{
    inset: 0px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: fixed;
    justify-content: center;
    bottom: -75px; 
    left: -220px;
    background-color: #89B0AE;
}

#righticon{
    inset: 0px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: fixed;
    justify-content: center;
    bottom: -75px; 
    right: -220px;
    background-color: #89B0AE;
}

.answers{
    font-size: 18px;
    text-align: center;
    inset: 0px;
    margin: auto;
    width: 50rem;
    height: 0rem;
    max-width: 100vw;
    max-height:100dvh;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    
}

.answers a{
    background: #FFD6BA;
    /* border-radius: 10%; */
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid #555b6e;
    cursor: pointer;
}

.answers a:hover, .confirm:hover, .jk:hover, #lefticon:hover, #righticon:hover{
    background: #FAF9F9;
}

.jk{
    border: 1px solid #555b6e;
    background: #89B0AE;
    align-items: center;
    justify-content: center;
    inset: 0px;
    margin: auto;
    bottom: -175px;
    left: -230px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    padding: 2px;
    border-radius: 10%;
    text-align: center;
}

.confirm{
    border: 1px solid #555b6e;
    background: #89B0AE;
    align-items: center;
    justify-content: center;
    inset: 0px;
    margin: auto;
    bottom: -175px;
    right: -150px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    padding: 2px;
    border-radius: 10%;
    text-align: center;
}

.topright{
    width: 40px;
    height: 120px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color:#FFD6BA;
    border: 2px solid #555b6e;
}

.topright::before{
    background-color: #FFD6BA;
    top: -1px;
    right: 36.5px;
    width: 40px;
    height: 40px;
    position: absolute;
    content: "";
    border-top: 2px #555b6e solid;
    border-bottom: 2px #555b6e solid;
    border-left: 2px #555b6e solid;
    z-index: 100;
}

.botleft{
    width: 40px;
    height: 120px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color:#FFD6BA;
    border: 2px solid #555b6e;
}

.botleft::after{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -2px;
    left: 37px;
    background-color:#FFD6BA;
    border-top: 2px #555b6e solid;
    border-bottom: 2px #555b6e solid;
    border-right: 2px #555b6e solid;
    content: "";
}


.botright{
    font-style: italic;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.topleft{
    left: 10px;
    top: 10px;
    position: fixed;
    font-style: italic;
}

